@page
@model razorPage_pageModel_vinculado.Pages.CreateCountry

<div class="container mt-4">
    <form method="post" class="col-md-6">
        
        @for (int i = 0; i < @Model.Inputs.Count; i++)
        {
            <div class="mb-2">
                <label asp-for="Inputs[i].CountryName"></label>
                <input asp-for="Inputs[i].CountryName" placeholder="Nome do País" class="form-control" />
            </div>

            <div class="mb-2">
                <label asp-for="Inputs[i].CountryCode"></label>
                <input asp-for="Inputs[i].CountryCode" placeholder="Código (Ex: BR)" class="form-control" />
                <span asp-validation-for="Inputs[i].CountryCode" class="text-danger"></span>
            </div>
        }
        
        <button type="submit" class="btn btn-primary">Criar Países</button>
    </form>

    @if (Model.CreatedCountries != null && Model.CreatedCountries.Any())
    {
        <div class="mt-4">
            <h3>Lista de Países Criados:</h3>
            @foreach (var c in Model.CreatedCountries)
            {
                <div class="alert alert-success">
                    País Criado: <strong>@c.CountryName</strong> (@c.CountryCode.ToUpper())
                </div>
            }
        </div>
    }
    
       
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}